<form novalidate name="eventForm" [formGroup]="eventForm" (ngSubmit)="onSubmit();">
  <clr-modal [(clrModalOpen)]="show">

    <div class="modal-title">{{action}}</div>

    <div class="modal-body">
      <section class="form-block">
        <div class="form-group ">
          <label>Title</label>
          <input type="text" name="title" formControlName="title" size="45" readonly>
        </div>
        <div class="form-group ">
          <label class="required">Date</label>
          <label for="eventDate" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="eventDate.invalid
                && (eventDate.dirty || eventDate.touched)">
            <input id="eventDate" type="date" autofocus size="25" formControlName="eventDate" placeholder="date" required [readonly]="!canEdit"
              (change)="getAvailableStartTimes($event)">
            <span class="tooltip-content">
              Date is required!
            </span>
          </label>
        </div>
        <div class="form-group ">
          <label class="required">Start Time</label>
          <label for="startTime" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="startTime.invalid && (startTime.dirty || startTime.touched)">
            <ng-container *ngIf="!canEdit">
              <input type="text" id="startTime" formControlName="startTime" readonly>
            </ng-container>
            <ng-container *ngIf="canEdit">
              <div class="select">
                <select id="startTime" formControlName="startTime" placeholder="select start time" required (change)="getAvailableEndTimes($event)">
                  <option *ngFor="let time of availableStartTimes | async" [value]="time">{{time}}</option>
                </select>
              </div>
            </ng-container>

            <span class="tooltip-content">
              Start Time is required!
            </span>
          </label>
        </div>
        <div class="form-group ">
          <label class="required">End Time</label>
          <label for="endTime" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="endTime.invalid
                            && (endTime.dirty || endTime.touched)">
            <ng-container *ngIf="!canEdit">
              <input type="text" id="endTime" formControlName="endTime" readonly>
            </ng-container>

            <ng-container *ngIf="canEdit">
              <div class="select">
                <select id="endTime" formControlName="endTime" placeholder="select start time" required (change)="updateTitle($event)">
                  <option *ngFor="let time of availableEndTimes | async" [value]="time">{{time}}</option>
                </select>
              </div>
            </ng-container>

            <span class="tooltip-content">
              End Time is required!
            </span>
          </label>
        </div>
      </section>
    </div>

    <div class="modal-footer">
      <button (click)="close()" class="btn btn-default">Cancel</button>

      <button *ngIf="canEdit" type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">OK</button>
    </div>

  </clr-modal>
</form>
