<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">SimplePM Concept App</h1>
      <p>This application shows the concepts of managing projects more simply using resources and time rather than resource loading project plans that are very difficult to maintain.  This tool doesn't replace the project plan.  But compliments it as it makes it simplier to forecast and track actual expenses.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Login</a></p>       
    </div>
  </div>
</main>
