<div class="content-container">
  <div class="content-area">
    <div style="height:30px">
      <div style="float:left">
        <!--<app-breadcrumbs></app-breadcrumbs> -->
      </div>
      <div style="float:right">
        <h4 style="margin-top:0px">{{pageTitle}}</h4>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

  <clr-vertical-nav [clrVerticalNavCollapsible]="true">

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/register">
      <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
      Register New Users</a>

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/role">
      <clr-icon clrVerticalNavIcon shape="tags"></clr-icon>
      Define User Roles</a>

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/facility">
      <clr-icon clrVerticalNavIcon shape="info-circle" size="16"></clr-icon>
      Facility Info</a>
    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/resource">
      <clr-icon clrVerticalNavIcon shape="info-circle" size="16"></clr-icon>
      Manage Resources</a>

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/users">
      <clr-icon clrVerticalNavIcon shape="info-circle" size="16"></clr-icon>
      Manage Users</a>
  </clr-vertical-nav>
</div>
