/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";
.cal-disabled {
  background-color: #EEEEEE !important;
  pointer-events: none;
}

.cal-disabled .cal-day-number {
  opacity: 0.8;
}

.cal-day-selected {
  background-color: #E1F1F6 !important;
}
